.fee-receipt-container {
  .ant-table-content {
    overflow: auto hidden !important;
  }
}
#receipt-print {
  size: A4;
  margin-right: 5%;
  margin-left: 3%;
}

.text-data {
  font-size: 12px;
}
#receipt-detail {
  background-color: white;
  padding: 24px;
  margin: 0px;
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
}
#voucher-detail {
  background-color: white;
  padding: 24px;
  margin: 0px;
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
}

#logo-app {
  position: absolute;
  top: 20px;
  right: 50px;
}
// table {
//   border-collapse: collapse;
//   width: 100%;
// }

// td
// th {
//   border: 1px solid #dddddd;
//   text-align: left;
//   padding: 8px;
// }
