@media only screen and (max-width: 1280px) {
  .ant-statistic-content-value {
    font-size: 12px !important;
  }
  .ant-statistic-title {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1536px) {
  .ant-statistic-content-value {
    font-size: 14px !important;
  }
  .ant-statistic-title {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .ant-statistic-content-value {
    font-size: 12px !important;
  }
  .ant-statistic-title {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 1640px) {
  .ant-statistic-content-value {
    font-size: 18px !important;
  }
  .ant-statistic-title {
    font-size: 16px !important;
    font-weight: 600;
  }
}
