// @import '../../../../node_modules/antd/lib/style/themes/default.less';

.panel-project-login {
  .project-list {
    margin: 0 -15px;

    .project-item {
      > .ant-card {
        border-radius: 20px;
      }
      .project-logo {
        height: 100px;
        width: auto;
        margin: 0 auto;
        padding-top: 15px;
      }
    }
  }
}
