.unit-text-hightlight {
    border: 2px solid rgb(250, 225, 215);
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 700;
    background-color: antiquewhite;
    margin-bottom: 4px;
}

.warning-fee-table-items {
    color: #faad14;
    font-size: 12;
    display: flex;
    align-items: center;
    gap: 4
}

.row-past-paid {
    opacity: 0.4;
    pointer-events: none;
}

.row-paid td {
    background-color: #d3e1ffd3 !important;
}

.row-remove td {
    color: red;
    text-decoration: line-through;
}

.row-total td {
    background-color: #fff0b98d !important;

}

.row-new td {
    background-color: #98dba68d !important;
}

.row-addendum-new td {
    background-color: #98dba68d !important;
}

.row-addendum-changed td {
    background-color: #fff1bdcc !important;
}