.fee-receipt-container {
  .ant-table-content {
    overflow: auto hidden !important;
  }
}

.text-data {
  font-size: 12px;
}

#voucher-detail {
  padding: 24px !important;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
}
#logo-app {
  position: absolute;
  top: 20px;
  right: 50px;
}
