.statistic-item {
  background: transparent;
  box-shadow: none;
  flex: 1;
  .ant-card-body {
    align-items: center;
    // padding: 16px 20px;
    border-radius: 24px;
    background: rgb(78, 80, 81) url('../../../assets/bg/dashboard-circle.svg') no-repeat bottom right;
    background-size: contain;
    .btn-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        height: 24px;
      }
    }

    .statistic-item-description {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .custom-title-static-item {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1536px) {
  .custom-title-static-item {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .custom-title-static-item {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 1640px) {
  .custom-title-static-item {
    font-size: 16px !important;
  }
}
