@primary-color: #98221f;
@text-color: #000000;
@color-error: rgba(231, 105, 95, 1);
@text-light-color: rgba(29, 68, 73, 0.5);
@color-success: rgba(82, 203, 103, 1);
@place-holder-text: rgba(29, 68, 73, 0.32);

@border-color: #e8e8e8;
@border-primary-color: rgba(196, 110, 110, 0.16);

@layout-bg-color: #fafafa;

// vertical paddings
@padding-md: 16px; // small containers and buttons

// vertical padding for all form controls
@control-padding-horizontal: @padding-md;

// height rules
@height-lg: 44px;
