.statistic-item {
  background: transparent;
  box-shadow: none;
  // height: 240px;

  padding: 12px;
  width: 100%;
  .ant-card-body {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 16px 20px;
    border-radius: 24px;
    background: 'aqua' url('../../../assets/bg/dashboard-circle.svg') no-repeat bottom right;
    background-size: contain;

    .btn-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        height: 24px;
      }
    }

    .statistic-item-description {
      font-size: 12px;
    }
  }
}
