#printQR {
  margin: 0 auto;
  .page {
    width: 21cm;
    font-size: 13px;
    border: 1px dashed #ccc;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .qrcode-item {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
