// NoticeIcon styles
.icon {
  padding: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.notice-button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
