.fee-unit-container {
  .ant-table-content {
    overflow: auto hidden !important;
  }
}

.action-menu {
  .menu-icon {
    margin-left: 8px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
    svg {
      font-size: 20px;
    }
  }
}
