.custom-text {
  font-weight: 500;
  padding: 2px 8px;
  background-color: #dee3ed;
  border-radius: 8px;
  width: fit-content;
}

.custom-text-column-blue {
  line-height: 2;
  font-weight: 500;
  padding: 4px 8px;
  color: #1178f5;
  background-color: #e2eefe;
  border-radius: 8px;
  width: fit-content;
}
