.plan-maintenance-container {
  .ant-tabs-nav-wrap {
    background-color: white;
    .ant-tabs-nav-list {
      display: none;
    }
  }
  .ant-tabs-bar.ant-tabs-top-bar {
    display: none;
  }
  .show {
    display: block !important;
  }
  .hide {
    display: none !important;
  }

  .fee-menu {
    > span {
      opacity: 0.5;
    }
    > span.active {
      opacity: 1;
    }
  }
}
