.fee-receipt-container {
  .ant-table-content {
    overflow: auto hidden !important;
  }
}
#receipt-print {
  size: A4;
  height: 10;
  margin: 0px -30px 0px -30px;
}

.text-data {
  font-size: 12px;
}
#booking-detail {
  background-color: white;
  padding: 24px;
  margin: 0px;
  position: relative;

  display: flex;
  flex-flow: column wrap;
}
receipt-detail-preview {
  background-color: white;
  padding: 24px;
  margin: 0px;
  position: relative;

  display: flex;
  flex-flow: column wrap;
}
#logo-app {
  position: absolute;
  top: 20px;
  right: 50px;
}
// table {
//   border-collapse: collapse;
//   width: 100%;
// }

// td
// th {
//   border: 1px solid #dddddd;
//   text-align: left;
//   padding: 8px;
// }
