.table-header {
  .title {
    display: flex;
    align-items: flex-end;

    > h3 {
      margin-bottom: 0;
    }
  }
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px 0px;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-bottom: 0px;
}
