.fee-container {
  .ant-table-wrapper {
    .ant-pagination.ant-table-pagination.ant-table-pagination-right {
      padding-right: 16px;
    }
  }
  .ant-table-content {
    overflow: auto hidden !important;
  }
  .ant-divider-horizontal {
    margin: 8px 0 0 0;
  }
  .header-list {
    height: 22px;
    margin-top: 16px;
  }
  .fee-list-container .ant-row:first-child {
    display: none;
  }
}
